{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/about-bg.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>From Curiosity to Code</h1>
                            <span class="subheading">Building Systems. Breaking Limits. Becoming Relentless</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Almost three years ago, I moved to Switzerland and had to rebuild everything; language, environment, direction. What started as curiosity about technology quickly turned into discipline. I learned German in months, then dove into programming with the same intensity. Backend development became more than a skill, it became a mindset.</p>
                        <p>Flask was my gateway into understanding how real systems work. Not just how websites look, but how they think. Routing, APIs, form handling, authentication. I became obsessed with what happens behind the scenes. I realized that scalable systems aren’t magic. They’re engineered.</p>
                        <p>This blog is where I document that growth. Every project, every bug, every breakthrough. I don’t just build applications, I build proof. Proof that consistency compounds. Proof that discipline beats talent. And proof that with enough focus, you can turn curiosity into capability.</p>
                    </div>
                </div>
            </div>
        </main>
        {% include "footer.html" %}
